.menu{
    background-color: #ffffff  !important;
}
.menu-font{
    color: #080808 !important;
}
.contactus{
  background-color: : #800000 !important;
    color: #fff;
    border: 1px solid transparent;
}
.register{
  background-color:#CF2634 !important;
}
 /* #tsttt{
   max-height: -200px;
 } */
